<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>RestoMi Web Project</title>

  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
  <header>
    <nav-bar></nav-bar>
  </header>

  <main>
    <div class="jumbotron">
      <img src="../public/images/heros/hero-image_4.jpg" alt="Content Image RestoMi">
  </div>
  <div class="resto-content">
    <div class="title-section">
      <h2>Explore Restaurant</h2>
    </div>

    <div class="wrap-card">
      <div class="card">
        <h4 class="card-title">Mie Jantan</h4>
        <p class="card-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid illo consequuntur quae blanditiis repudiandae quis perspiciatis unde magni iusto molestias, tempora natus voluptates saepe odit dolorem odio soluta! Eveniet reiciendis ipsam, perspiciatis sapiente nihil impedit.
        </p>
      </div>
      <div class="card">
        <h4 class="card-title">Indo Express</h4>
        <p class="card-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid illo consequuntur quae blanditiis repudiandae quis perspiciatis unde magni iusto molestias, tempora natus voluptates saepe odit dolorem odio soluta! Eveniet reiciendis ipsam, perspiciatis sapiente nihil impedit.
        </p>
      </div>
      <div class="card">
        <h4 class="card-title">RM Apung</h4>
        <p class="card-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid illo consequuntur quae blanditiis repudiandae quis perspiciatis unde magni iusto molestias, tempora natus voluptates saepe odit dolorem odio soluta! Eveniet reiciendis ipsam, perspiciatis sapiente nihil impedit.
        </p>
      </div>
      <div class="card">
        <h4 class="card-title">ICHI tan</h4>
        <p class="card-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid illo consequuntur quae blanditiis repudiandae quis perspiciatis unde magni iusto molestias, tempora natus voluptates saepe odit dolorem odio soluta! Eveniet reiciendis ipsam, perspiciatis sapiente nihil impedit.
        </p>
      </div>
    </div>
  </div>
  </main>

</body>
</html>
