<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta
  name="RestoMi"
  content="Website restaurant, every products cooked with passion and love. Stay halal and positif.">

  <title>RestoMi Web Project</title>

  <link rel="shortcut icon" href="./images/icon/gemini-logo.jpg" type="image/x-icon">

  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
  <header>
    <a href="#resto-content" class="skip-link">Menuju ke konten</a>
    <nav-bar class="navbar-wrap"></nav-bar>
  </header>

  <main id="mainContent"></main>

  <footer>
    <footer-bar></footer-bar>
  </footer>

</body>
</html>
