<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta
  name="RestoMi"
  content="Website restaurant, every products cooked with passion and love. Stay halal and positif.">
  <meta name="theme-color" content="#2a3260"/>

  <link rel="apple-touch-icon" href="/images/icons/cutlery128.png">
  <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="./app.webmanifest">

  <title>RestoMi Web Project</title>

  <script src="https://kit.fontawesome.com/28bd5eca10.js" crossorigin="anonymous"></script>
  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
<!-- Loading -->
  <div id="loading">
    <div id="loading-spinner">
      Loading...
    </div>
  </div>

  <header>
    <a href="#resto-content" class="skip-link">Menuju ke konten</a>
    <nav-bar class="navbar-wrap"></nav-bar>
  </header>

  <main id="mainContent" tabindex="0"></main>

  <footer>
    <footer-bar></footer-bar>
  </footer>

</body>
</html>
