  html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
    background-color: var(--light);
  }
  
  :root {
    --primary: #2a3260;
    --secondary: #ecaa1c;
    --green: #389a54;
    --light: #ebe3b3;
  }

  .btn {
    padding: 12px;
    border-radius: 7px;
    background-color: var(--primary);
    color: var(--secondary);
  }

  .btn-hero:hover {
    background-color: var(--secondary);
    color: var(--primary);
  }