@import url(./global.css);

/*
 Home Page
*/
.jumbotron {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 725px;
    overflow: hidden;
    background-color: var(--primary);
}

.high-hero {
    position: absolute;
    text-align: center;
    padding: 24px;
    z-index: 55;
}

.btn-hero {
    background-color: var(--green);
    color: var(--primary);
    padding: 14px;
    border-radius: 7px;
}

.btn-hero:hover {
    background-color: var(--green);
    color: var(--light);
}

.title-hero {
    color: var(--secondary);
    font-size: 3rem;
    margin: 0;
}

.sub-text {
    color: var(--light);
    margin-bottom: 25px;
}

.img-hero {
    width: 100%;
    opacity: 0.3;
}

.title-section {
    padding: 10px;
    text-align: center;
    border-top: 5px solid var(--green);
    background-color: var(--primary);
    color: var(--secondary);
    transition: 0.3s ease-in-out;
}

.wrap-card {
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 24px;
    transition: 0.5s ease-in-out;
}

.card {
    max-width: 300px;
    margin: 7px 7px 35px 7px;
    overflow: hidden;
    border-radius: 5px;
    background-color: var(--primary);
    box-shadow: 0 0 7px 1px var(--primary);
}

.card-city {
    position: absolute;
    background-color: var(--secondary);
    padding: 7px;
    border-radius: 5px 0 0 0;
}

.card-rating {
    text-align: center;
    color: var(--secondary);
    padding: 5px 12px;
}

.card-desc {
    color: var(--light);
    text-align: justify;
    font-size: 0.9rem;
    padding: 0 12px;
}

.card-title {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.card-image {
    max-height: 220px;
}

.card-link-detail {
    color: var(--secondary);
    padding: 10px;
}

/*
 Detail Page
*/
.wt-detail {
    text-align: center;
    margin-top: 120px;
}

.wrap-resto-detail {
    padding: 10px;
}

.d-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-detail {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 50px;
}

.d-data {
    padding: 10px;
    border: 1px solid black;
}

/*
  Favorite Page
*/
.fav-resto {
    margin-top: 100px;
    text-align: center;
}


/*
  Like
*/
.like {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00b44a;

    position: fixed;
    bottom: 16px;
    right: 16px;
    border-radius: 50%;
    border: 0;

    font-size: 18px;
    color: white;
    cursor: pointer;
}

/* Review */
.title-review {
    margin-top: 20px;
    text-align: center;
}
.wrap-review {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.card-review {
    padding: 20px;
    border: 1px solid var(--primary);
    background-color: var(--secondary);
    color: var(--light);
    border-radius: 12px;
    max-width: 300px;
    text-align: center;
}


.wrap-footer {
    display: grid;
}
.foot-main {
    text-align: center;
}
.content-foot {
    display: flex;
    gap: 20px;
}
.foot {
    font-size: 1rem;
}
.link-footer {
    padding: 14px 5px;
    color: var(--light);
    text-decoration: underline;
}


@media screen and (max-width: 1080px){
    .dt-img {
        width: 100%;
    }

    .d-content {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .jumbotron {
        min-height: 400px;
    }

    .btn-hero {
        font-size: 0.95rem;
    }

    .img-hero {
        width: fit-content;
    }

    .title-hero {
        font-size: 2.5rem;
    }

    .sub-text {
        font-size: 0.9rem;
    }

    .title-section {
        font-size: 0.9rem;
    }

    .card-title {
        font-size: 1rem;
    }

    .card-desc {
        font-size: 0.8rem;
    }

    .foot {
        font-size: 0.8rem;
    }
}
